# İşletim sistemi dosyaları
.DS_Store
Thumbs.db

# Laravel (Backend)
/vynl-backend/vendor/
/vynl-backend/.env
/vynl-backend/storage/framework/sessions/*
/vynl-backend/storage/framework/views/*
/vynl-backend/storage/framework/cache/data/*
/vynl-backend/storage/logs/*.log

# React (Frontend)
/vynl-frontend/node_modules/
/vynl-frontend/.env
/vynl-frontend/build/
/vynl-frontend/.DS_Store